body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(171, 113, 6);
    background-color: rgb(171, 113, 6);
    text-align: center;
}

form {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: yellow;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    width: auto;
    margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"],
.form-group input[type="radio"] {
    width: auto;
}


button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: green;
    color: white;
}

button[type="button"] {
    background-color: red;
    color: white;
}


.button-group {
    text-align: right; 
}